

.logo{
height:80px;
line-height: 50px;
margin-top: 0px;
margin-left: 15px;
}


.cart{
margin-top: 22px;
margin-right: 20px;
height: 30px;
width: 30px;
}


  #all{
    background-color: aqua;
  }


  .maincontent{
    width:100%;
    height:100%;
        position: absolute;
    overflow:auto;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

.card{
    height:400px;
    width:350px;
    position:relative;
    text-align:center;
    margin-bottom: 40px;;
    background-color: rgb(247, 242, 242);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.productimage{
  width:100%;
  height:300px;
}

.productcontainers{

  display:flex; 
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  padding:15px;
  justify-content: center;
  margin-bottom: 20px;
}

.productcontainers::after{
  content: '';
  width:350px;
  margin-bottom: 30px;
}

.productname{
  height:30px;
}
.categoryname{
  height:30px;

}

.viewbutton{
  width:100%;
  bottom:0;
  height:40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(82, 111, 243);
  position: absolute;
  color:white;
}

.viewbutton:hover{
  width:100%;
  bottom:0;
  height:40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(64, 96, 240);
  position: absolute;
  color:white;
}