.body{
    font-family:Arial, Helvetica, sans-serif;
}


body{
    padding:0px;
    margin: 0px;
  min-height: 100 vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #def2f1;
  font-family:Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
    min-height: 100%
}

#header{
  width:100%;
  background-color: rgb(143, 236, 205);
  height:70px;
  position:relative;
}

#iconmenu{
  line-height: 70px;
  position: absolute;
  font-size: 2em;
  margin-left: 15px;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}


#logo{
  height:80px;
  margin-left: 15px;
  line-height: 50px;
  width: 80px;
}



.sidebar{
  background-color: #17252a;
  height: 100%;
  width: 10%;
  padding:15px;
  color:white;
  display: none;
  z-index: 2;
  display:none;

}

.sidebar.active{
    position:fixed;
  display: block;
  z-index: 2;
}

#dashboardlist{
  margin-top: 0;
  padding-left: 0;
  
  height:20px;
}


.lists{
  margin-top: 50px;

}


.sidebar ul li i{
  margin-right: 15px;
}

.sidebar ul li{
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}

.sidebar ul li:hover{
  background-color: #def2f1;
  color: #17252a;
  border-radius: 10px;
}

.profile{
  position: absolute;
  bottom:0;
  margin-bottom: 20px;
}

.maincontent{
  height:100%;
  width: 100%; 
  background-color:#def2f1;
  z-index: 1;
  overflow: auto;
}


@media screen and (max-width: 953px) {
  
  .sidebar ul li{
      height: 30px;
      line-height: 30px;
      font-size: 40%;
  }

  .sidebar{
      background-color: #17252a;
      height: 100%;
      width: 20%;
      padding:15px;
      color:white;
      display: none;
      z-index: 2;
      display:none;
      padding:5px;

    }

}
@media screen and (max-width: 508px) {
  
  .sidebar ul li{
      height: 30px;
      line-height: 30px;
      font-size: 20%;
      width: 90%;
  }

  .sidebar{
      background-color: #17252a;
      height: 100%;
      width: 40%;
      padding:2px;
      color:white;
      display: none;
      z-index: 2;
      display:none;
      padding:0.5%;
    }
}

.allorders{
  height:45%;
  width:95%;
  background-color: aquamarine;
  margin-left: auto;
  margin-right: auto;
  overflow:auto;
}


.inprogress{
  height:45%;
  width:95%;
  margin-top: 10px;
  background-color: rgb(146, 127, 255);
  margin-left: auto;
  margin-right: auto;
  overflow:auto;
}

#orderstable{
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: #fff;
  border-collapse: collapse;
  text-align: center;

}

#pendingtable{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: #fff;
  border-collapse: collapse;
  
}

.pendingpayment{
  height:300px;
  overflow-y: auto;
  text-align: center;

}

.pending{
  height:300px;
  overflow-y: auto;
  text-align: center;

}

#orders-tableheader{
  background-color: #3aafa9;

}

#first-order{
  height:35px;
  border-bottom: 10px black;

}

#last-order{
  height:35px;
  border-bottom: 10px black;

}

.acceptbutton{
  width:85px;
  height:30px;
  background-color: rgb(102, 255, 0);
  color: white;
  border-radius: 10px;
  line-height: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.acceptbutton:hover{

  background-color: rgb(90, 219, 3);

}



input{
  width:30px;

}


.modal-container{
  position:fixed; 
  height: 100vh;

  width: 100%;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

.actualModal{
  overflow: auto;
  position:fixed; 
  background-color: white;
  width: 80%;
  height: 70%;
  text-align: center;
  align-items: center;
  position: absolute;
  border-radius: 25px;
}

.transcdet{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-bottom: 40px;
  border-radius:10px;
}

#table-list{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#retbutton{
  width: 100%;
  height:30px;
  position: absolute;
  bottom:0;
  background-color: blue;
  color:white;
  line-height: 30px;
}

#retbutton:hover{
  background-color: rgb(0, 255, 255);

}

table {
  border-collapse: collapse;
}

#table-list {
  border-bottom: 3px solid black;
}

.tablecontainer{
  height:200px;
  overflow:auto; 
}
.transcdet{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-bottom: 40px;
  border-radius:10px;
}